---
export const prerender = false;

import BaseLayout from "@/layouts/base.astro";
import ContentLayout from "@/layouts/content.astro";
import ArticleHeader from "./_components/article-header.astro";
import { getPostBySlug } from "@/lib/fetchPosts";
import BodyRenderer from "@/components/BodyRenderer";
const { slug } = Astro.params;
if (!slug) return Astro.redirect("/404");

const article = await getPostBySlug(slug);
if (!article) return Astro.redirect("/404");

---
<BaseLayout entry={article}>
 <ArticleHeader article={article}  /> 
  <ContentLayout>
   <div class="prose prose-lg max-w-none">   
        <BodyRenderer client:load value={article.body} />
      </div>
  </ContentLayout>
</BaseLayout>
