<footer class="bg-[#003104] text-white">
  <div class="max-w-3xl mx-auto px-4 py-4 flex flex-col sm:flex-row items-center sm:justify-between gap-2">
    
    <div class="text-center sm:text-left text-sm">
      © 2025 Talent Integrity | All Rights Reserved
    </div>

   
    <a 
      href="/privacy" 
      class="text-center sm:text-right text-sm hover:text-gray-300 transition"
    >
      Privacy
    </a>
  </div>
</

