---
import MainHeadline from "@/components/cards/mainHeadline.astro";
import SubHeadlineCard from "@/components/cards/subHeadlineCard.astro";
import { articlesHandler } from "@/lib/handlers/articles";
import {getAllPosts} from "@/lib/fetchPosts";

const posts =await getAllPosts();
const mainHeadlineArticle = posts[0];
 const subHeadlinesArticles = posts.slice(1, 5);
---

<section
  class="grid grid-cols-1 gap-6 md:grid-cols-10 container pt-4 md:pt-8"
  data-pagefind-ignore="all"
>
  <div class="col-span-1 md:col-span-6">
    <MainHeadline article={mainHeadlineArticle} />
  </div>
  <div class="col-span-1 md:col-span-4">
    {
      subHeadlinesArticles.map((article, index) => (
        <SubHeadlineCard
          article={article}
          isFirst={index === 0}
          isLast={index === subHeadlinesArticles.length - 1}
        />
      ))
    }
  </div>
</section>
