---
import { getAllCategories, getCategoryBySlug } from "@/lib/fetchCategories";
import NewsCard from "@/components/cards/newsCard.astro";
import ListLayout from "@/layouts/list.astro";

export async function getStaticPaths() {
  const categories = await getAllCategories();
  return categories.map((category) => ({
    params: { category: category.slug.current }
  }));
}

const { category } = Astro.params;
const categoryData = await getCategoryBySlug(category);

if (!categoryData) {
  return Astro.redirect("/404");
}

const entry = {
  title: categoryData.title,
  description: categoryData.description ?? "",
};
---

<ListLayout header={categoryData.title} entry={entry}>
  <ul class="w-full space-y-8 my-6">
    {(categoryData.articles ?? []).map((article, index) => (
      <li>
        <NewsCard article={article} index={index} />
      </li>
    ))}
  </ul>
</ListLayout>