---
import { NAVIGATION_LINKS } from "@/lib/config";
import NavbarItem from "../bases/navbar-item.astro";
import { getNavigationLinks } from "@/lib/config";

const links = await getNavigationLinks();
---

<nav class="navbar-center hidden lg:flex container">
  <ul class="menu menu-sm menu-horizontal px-1 mx-auto">
    <NavbarItem item={{ href: "/", text: "Home" }} />
    {links.map((item) => <NavbarItem item={item} />)}
  </ul>
</nav>
