---
import MenuDropdown from "./menu-dropdown.astro";
import { SITE } from "@/lib/config";
import ThemeController from "../bases/theme-controller.astro";
---

<div
  class="navbar border-b border-primary-content/80 dark:border-primary-content/20"
>
  <div class="navbar-start lg:w-1/2">
    <MenuDropdown />
    <a class="text-xl px-2 text-nowrap lg:hidden" href="/">{SITE.title}</a>
  </div>
  <div class="navbar-center hidden lg:flex">
   <a href="/" aria-label="Homepage">
     <img
      src="/Logo.svg"
      alt={SITE.title}
      class="h-10 xl:h-12 w-auto object-contain dark:hidden"
      loading="eager"
      decoding="async"
    />
    
    <img
      src="/Logo-dark.svg"
      alt={SITE.title}
      class="h-10 xl:h-12 w-auto object-contain hidden dark:block"
      loading="eager"
      decoding="async"
    />
      </a>
  </div>
  <div class="navbar-end">
    <ThemeController />
  </div>
</div>
