---
import BaseLayout from "./base.astro";
import ViewListHeader from "@/components/shared/view-list-header.astro";
interface Props {
  header: string;
}

const { header } = Astro.props as Props;
---

<BaseLayout >
  <div
    class="container flex flex-col h-full pb-8 pt-4"
    data-pagefind-ignore="all"
  >
    <ViewListHeader title={header} />
    <slot />
  </div>
</BaseLayout>
